<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.atguigu.mapper.DictMapper">

    <sql id="selectAll">
        select id,parent_id,name,dict_code,create_time,update_time,is_deleted
    </sql>
    <select id="findListByParentId" resultType="com.atguigu.entity.Dict">
        <include refid="selectAll"></include>
        from hse_dict
        where parent_id = #{parentId}
        and is_deleted = 0
    </select>

    <select id="countIsParent" resultType="int">
        select count(*) from hse_dict where  parent_id=#{id}
    </select>

    <select id="findDictListByDictCode" resultType="com.atguigu.entity.Dict">
        select * from hse_dict hd
        where
        (select dict_code from hse_dict where id = hd.parent_id) = #{dictCode}
    </select>


</mapper>